<div class="item">
  <a class="item labelnav" data-tab="parameters">{{localize
      "MIDGUARD.parameters"
    }}</a>
</div>
<div class="item">
  <a class="item labelnav" data-tab="atutsImplants">{{localize
      "MIDGUARD.Atuts"
    }},
    {{localize "MIDGUARD.Implants"}},
    {{localize "MIDGUARD.Traits"}}</a>
</div>
<div class="item">
  <a class="item labelnav" data-tab="combat">{{localize "MIDGUARD.combat"}}</a>
</div>
<div class="item">
  <a class="item labelnav" data-tab="entropicPowers">{{localize
      "MIDGUARD.entropicPowers"
    }}</a>
</div>
<div class="item">
  <a class="item labelnav" data-tab="equipment">{{localize
      "MIDGUARD.equipment"
    }}</a>
</div>
<div class="item">
  <a class="item labelnav" data-tab="notes">{{localize "MIDGUARD.notes"}}</a>
</div>