<div class="left">
  <div class="title">{{localize "MIDGUARD.Atuts"}}</div>
  <div class="scrolling">
    <div class="atutsTableFirst">
      <input
        class="inputName"
        name="data.atuts.one.name"
        type="text"
        value="{{data.data.atuts.one.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsRequirement"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.one.requirement"
                  type="text"
                  value="{{data.data.atuts.one.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsActivation"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.one.activation"
                  type="text"
                  value="{{data.data.atuts.one.activation}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.AtutsRule"
                  }}</span>
                {{editor
                  content=data.data.atuts.one.rule
                  target="data.atuts.one.rule"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="atutsTable">
      <input
        class="inputName"
        name="data.atuts.two.name"
        type="text"
        value="{{data.data.atuts.two.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsRequirement"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.two.requirement"
                  type="text"
                  value="{{data.data.atuts.two.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsActivation"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.two.activation"
                  type="text"
                  value="{{data.data.atuts.two.activation}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.AtutsRule"
                  }}</span>
                {{editor
                  content=data.data.atuts.two.rule
                  target="data.atuts.two.rule"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="atutsTable">
      <input
        class="inputName"
        name="data.atuts.three.name"
        type="text"
        value="{{data.data.atuts.three.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsRequirement"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.three.requirement"
                  type="text"
                  value="{{data.data.atuts.three.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsActivation"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.three.activation"
                  type="text"
                  value="{{data.data.atuts.three.activation}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.AtutsRule"
                  }}</span>
                {{editor
                  content=data.data.atuts.three.rule
                  target="data.atuts.three.rule"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="atutsTable">
      <input
        class="inputName"
        name="data.atuts.four.name"
        type="text"
        value="{{data.data.atuts.four.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsRequirement"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.four.requirement"
                  type="text"
                  value="{{data.data.atuts.four.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsActivation"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.four.activation"
                  type="text"
                  value="{{data.data.atuts.four.activation}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.AtutsRule"
                  }}</span>
                {{editor
                  content=data.data.atuts.four.rule
                  target="data.atuts.four.rule"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="atutsTable">
      <input
        class="inputName"
        name="data.atuts.five.name"
        type="text"
        value="{{data.data.atuts.five.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td colspan="2">
              </td>
            </tr>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsRequirement"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.five.requirement"
                  type="text"
                  value="{{data.data.atuts.five.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsActivation"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.five.activation"
                  type="text"
                  value="{{data.data.atuts.five.activation}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.AtutsRule"
                  }}</span>
                {{editor
                  content=data.data.atuts.five.rule
                  target="data.atuts.five.rule"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="atutsTable">
      <input
        class="inputName"
        name="data.atuts.six.name"
        type="text"
        value="{{data.data.atuts.six.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsRequirement"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.six.requirement"
                  type="text"
                  value="{{data.data.atuts.six.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsActivation"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.six.activation"
                  type="text"
                  value="{{data.data.atuts.six.activation}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.AtutsRule"
                  }}</span>
                {{editor
                  content=data.data.atuts.six.rule
                  target="data.atuts.six.rule"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="atutsTable">
      <input
        class="inputName"
        name="data.atuts.seven.name"
        type="text"
        value="{{data.data.atuts.seven.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsRequirement"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.seven.requirement"
                  type="text"
                  value="{{data.data.atuts.seven.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsActivation"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.seven.activation"
                  type="text"
                  value="{{data.data.atuts.seven.activation}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.AtutsRule"
                  }}</span>
                {{editor
                  content=data.data.atuts.seven.rule
                  target="data.atuts.seven.rule"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="atutsTable">
      <input
        class="inputName"
        name="data.atuts.eight.name"
        type="text"
        value="{{data.data.atuts.eight.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsRequirement"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.eight.requirement"
                  type="text"
                  value="{{data.data.atuts.eight.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsActivation"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.eight.activation"
                  type="text"
                  value="{{data.data.atuts.eight.activation}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.AtutsRule"
                  }}</span>
                {{editor
                  content=data.data.atuts.eight.rule
                  target="data.atuts.eight.rule"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="atutsTable">
      <input
        class="inputName"
        name="data.atuts.nine.name"
        type="text"
        value="{{data.data.atuts.nine.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsRequirement"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.nine.requirement"
                  type="text"
                  value="{{data.data.atuts.nine.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsActivation"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.nine.activation"
                  type="text"
                  value="{{data.data.atuts.nine.activation}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.AtutsRule"
                  }}</span>
                {{editor
                  content=data.data.atuts.nine.rule
                  target="data.atuts.nine.rule"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="atutsTable">
      <input
        class="inputName"
        name="data.atuts.ten.name"
        type="text"
        value="{{data.data.atuts.ten.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsRequirement"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.ten.requirement"
                  type="text"
                  value="{{data.data.atuts.ten.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize "MIDGUARD.AtutsActivation"}}</td>
              <td><input
                  class="inputShort"
                  name="data.atuts.ten.activation"
                  type="text"
                  value="{{data.data.atuts.ten.activation}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.AtutsRule"
                  }}</span>
                {{editor
                  content=data.data.atuts.ten.rule
                  target="data.atuts.ten.rule"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="center">
  <div class="title">{{localize "MIDGUARD.Implants"}}</div>
  <div class="scrolling">
    <div class="implantsTableFirst">
      <input
        class="inputName"
        name="data.implants.one.name"
        type="text"
        value="{{data.data.implants.one.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsRequirement"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.one.requirement"
                  type="text"
                  value="{{data.data.implants.one.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsNeurostability"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.one.neurostability"
                  type="text"
                  value="{{data.data.implants.one.neurostability}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsDescription"
                  }}</span>
                {{editor
                  content=data.data.implants.one.description
                  target="data.implants.one.description"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsRules"
                  }}</span>
                {{editor
                  content=data.data.implants.one.rules
                  target="data.implants.one.rules"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="implantsTable">
      <input
        class="inputName"
        name="data.implants.two.name"
        type="text"
        value="{{data.data.implants.two.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsRequirement"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.two.requirement"
                  type="text"
                  value="{{data.data.implants.two.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsNeurostability"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.two.neurostability"
                  type="text"
                  value="{{data.data.implants.two.neurostability}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsDescription"
                  }}</span>
                {{editor
                  content=data.data.implants.two.description
                  target="data.implants.two.description"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsRules"
                  }}</span>
                {{editor
                  content=data.data.implants.two.rules
                  target="data.implants.two.rules"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="implantsTable">
      <input
        class="inputName"
        name="data.implants.three.name"
        type="text"
        value="{{data.data.implants.three.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsRequirement"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.three.requirement"
                  type="text"
                  value="{{data.data.implants.three.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsNeurostability"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.three.neurostability"
                  type="text"
                  value="{{data.data.implants.three.neurostability}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsDescription"
                  }}</span>
                {{editor
                  content=data.data.implants.three.description
                  target="data.implants.three.description"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsRules"
                  }}</span>
                {{editor
                  content=data.data.implants.three.rules
                  target="data.implants.three.rules"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="implantsTable">
      <input
        class="inputName"
        name="data.implants.four.name"
        type="text"
        value="{{data.data.implants.four.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsRequirement"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.four.requirement"
                  type="text"
                  value="{{data.data.implants.four.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsNeurostability"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.four.neurostability"
                  type="text"
                  value="{{data.data.implants.four.neurostability}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsDescription"
                  }}</span>
                {{editor
                  content=data.data.implants.four.description
                  target="data.implants.four.description"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsRules"
                  }}</span>
                {{editor
                  content=data.data.implants.four.rules
                  target="data.implants.four.rules"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="implantsTable">
      <input
        class="inputName"
        name="data.implants.five.name"
        type="text"
        value="{{data.data.implants.five.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsRequirement"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.five.requirement"
                  type="text"
                  value="{{data.data.implants.five.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsNeurostability"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.five.neurostability"
                  type="text"
                  value="{{data.data.implants.five.neurostability}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsDescription"
                  }}</span>
                {{editor
                  content=data.data.implants.five.description
                  target="data.implants.five.description"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsRules"
                  }}</span>
                {{editor
                  content=data.data.implants.five.rules
                  target="data.implants.five.rules"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="implantsTable">
      <input
        class="inputName"
        name="data.implants.six.name"
        type="text"
        value="{{data.data.implants.six.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsRequirement"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.six.requirement"
                  type="text"
                  value="{{data.data.implants.six.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsNeurostability"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.six.neurostability"
                  type="text"
                  value="{{data.data.implants.six.neurostability}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsDescription"
                  }}</span>
                {{editor
                  content=data.data.implants.six.description
                  target="data.implants.six.description"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsRules"
                  }}</span>
                {{editor
                  content=data.data.implants.six.rules
                  target="data.implants.six.rules"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="implantsTable">
      <input
        class="inputName"
        name="data.implants.seven.name"
        type="text"
        value="{{data.data.implants.seven.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsRequirement"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.seven.requirement"
                  type="text"
                  value="{{data.data.implants.seven.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsNeurostability"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.seven.neurostability"
                  type="text"
                  value="{{data.data.implants.seven.neurostability}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsDescription"
                  }}</span>
                {{editor
                  content=data.data.implants.seven.description
                  target="data.implants.seven.description"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsRules"
                  }}</span>
                {{editor
                  content=data.data.implants.seven.rules
                  target="data.implants.seven.rules"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="implantsTable">
      <input
        class="inputName"
        name="data.implants.eight.name"
        type="text"
        value="{{data.data.implants.eight.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsRequirement"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.eight.requirement"
                  type="text"
                  value="{{data.data.implants.eight.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsNeurostability"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.eight.neurostability"
                  type="text"
                  value="{{data.data.implants.eight.neurostability}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsDescription"
                  }}</span>
                {{editor
                  content=data.data.implants.eight.description
                  target="data.implants.eight.description"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsRules"
                  }}</span>
                {{editor
                  content=data.data.implants.eight.rules
                  target="data.implants.eight.rules"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="implantsTable">
      <input
        class="inputName"
        name="data.implants.nine.name"
        type="text"
        value="{{data.data.implants.nine.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsRequirement"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.nine.requirement"
                  type="text"
                  value="{{data.data.implants.nine.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsNeurostability"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.nine.neurostability"
                  type="text"
                  value="{{data.data.implants.nine.neurostability}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsDescription"
                  }}</span>
                {{editor
                  content=data.data.implants.nine.description
                  target="data.implants.nine.description"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsRules"
                  }}</span>
                {{editor
                  content=data.data.implants.nine.rules
                  target="data.implants.nine.rules"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="implantsTable">
      <input
        class="inputName"
        name="data.implants.ten.name"
        type="text"
        value="{{data.data.implants.ten.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsRequirement"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.ten.requirement"
                  type="text"
                  value="{{data.data.implants.ten.requirement}}"
                /></td>
            </tr>
            <tr>
              <td class="subtitle">{{localize
                  "MIDGUARD.ImplantsNeurostability"
                }}</td>
              <td><input
                  class="inputShort"
                  name="data.implants.ten.neurostability"
                  type="text"
                  value="{{data.data.implants.ten.neurostability}}"
                /></td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsDescription"
                  }}</span>
                {{editor
                  content=data.data.implants.ten.description
                  target="data.implants.ten.description"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
            <tr>
              <td colspan="2"><span class="subtitle">{{localize
                    "MIDGUARD.ImplantsRules"
                  }}</span>
                {{editor
                  content=data.data.implants.ten.rules
                  target="data.implants.ten.rules"
                  button=true
                  owner=owner
                  editable=editable
                }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="right">
  <div class="title">{{localize "MIDGUARD.Traits"}}</div>
  <div class="scrolling">
    <div class="traitsTableFirst">
      <input
        class="inputName"
        name="data.traits.one.name"
        type="text"
        value="{{data.data.traits.one.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td>
                {{editor
                  content=data.data.traits.one.description
                  target="data.traits.one.description"
                  button=true
                  owner=owner
                  editable=editable
                  placeholder="{{localize 'TraitsDescription'}}"
                }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="traitsTable">
      <input
        class="inputName"
        name="data.traits.two.name"
        type="text"
        value="{{data.data.traits.two.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td>
                {{editor
                  content=data.data.traits.two.description
                  target="data.traits.two.description"
                  button=true
                  owner=owner
                  editable=editable
                  placeholder="{{localize 'TraitsDescription'}}"
                }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="traitsTable">
      <input
        class="inputName"
        name="data.traits.three.name"
        type="text"
        value="{{data.data.traits.three.name}}"
        placeholder="{{localize 'MIDGUARD.name'}}"
      />
      <div>
        <div>
          <table>
            <tr>
              <td>
                {{editor
                  content=data.data.traits.three.description
                  target="data.traits.three.description"
                  button=true
                  owner=owner
                  editable=editable
                  placeholder="{{localize 'TraitsDescription'}}"
                }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="clear:both;"></div>