<div class="flex-item fighting">
  <table>
    <tr>
      <th>{{localize "MIDGUARD.CombatWeaponName"}}</th>
      <th>{{localize "MIDGUARD.CombatSkillsSum"}}</th>
      <th>{{localize "MIDGUARD.CombatAttacks"}}</th>
      <th>{{localize "MIDGUARD.CombatRangeClose"}}</th>
      <th>{{localize "MIDGUARD.CombatRangeMedium"}}</th>
      <th>{{localize "MIDGUARD.CombatRangeFar"}}</th>
      <th>{{localize "MIDGUARD.CombatRangeExtr"}}</th>
      <th>{{localize "MIDGUARD.CombatDamage"}}</th>
    </tr>
    <tr>
      <td>Testowana nazwa 1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Testowana nazwa 2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Testowana nazwa 3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>
  <table>
    <tr>
      <th>{{localize "MIDGUARD.CombatBasic"}}</th>
      <th>{{localize "MIDGUARD.MainParametersDexterity"}}</th>
      <th>{{localize "MIDGUARD.MainParametersCool"}}</th>
      <th>{{localize "MIDGUARD.Atuts"}}</th>
      <th>{{localize "MIDGUARD.CombatBonuses"}}</th>
      <th>
        {{localize "MIDGUARD.CombatArmor"}} / {{localize
        "MIDGUARD.CombatShield"}}
      </th>
      <th>{{localize "MIDGUARD.CombatSum"}}</th>
    </tr>
    <tr>
      <td>0</td>
      <td>{{data.data.dexterity}}</td>
      <td>{{data.data.cool}}</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>{{sum "[1, 3]"}}</td>
    </tr>
    <tr>
      <td>0</td>
      <td>{{data.data.dexterity}}</td>
      <td>{{data.data.cool}}</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>0</td>
      <td>{{data.data.dexterity}}</td>
      <td>{{data.data.cool}}</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>
  <table>
    <tr>
      <th>{{localize "MIDGUARD.CombatWeaponName"}}</th>
      <th>{{localize "MIDGUARD.CombatType"}}</th>
      <th>{{localize "MIDGUARD.CombatSkillsSumMWorMC"}}</th>
      <th>{{localize "MIDGUARD.CombatAccuracy"}}</th>
      <th>{{localize "MIDGUARD.CombatHitpoints"}}</th>
      <th>{{localize "MIDGUARD.CombatDamage"}}</th>
    </tr>
    <tr>
      <td>Testowa nazwa 1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Testowa nazwa 2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Testowa nazwa 3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>
  <table>
    <tr>
      <th>{{localize "MIDGUARD.CombatBasic"}}</th>
      <th>{{localize "MIDGUARD.MainParametersCool"}}</th>
      <th>{{localize "MIDGUARD.CombatMWorMCvalue"}}</th>
      <th>{{localize "MIDGUARD.CombatBonuses"}}</th>
      <th>{{localize "MIDGUARD.CombatWeaponDefense"}}</th>
      <th>
        {{localize "MIDGUARD.CombatArmor"}} / {{localize
        "MIDGUARD.CombatShield"}}
      </th>
      <th>{{localize "MIDGUARD.CombatSum"}}</th>
    </tr>
    <tr>
      <td>0</td>
      <td>{{data.data.cool}}</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>0</td>
      <td>{{data.data.cool}}</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>0</td>
      <td>{{data.data.cool}}</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>
</div>
<div class="flex-item defense">
  <table>
    <tr>
      <th>{{localize "MIDGUARD.CombatName"}}</th>
      <th>{{localize "MIDGUARD.CombatExplosionRadius"}}</th>
      <th>{{localize "MIDGUARD.CombatDamage"}}</th>
    </tr>
    <tr>
      <td>Testowa nazwa 1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Testowa nazwa 2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Testowa nazwa 3</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>
  <table>
    <tr>
      <th>{{localize "MIDGUARD.CombatName"}}</th>
      <th>{{localize "MIDGUARD.CombatCloseCombat"}}</th>
      <th>{{localize "MIDGUARD.CombatBalistic"}}</th>
    </tr>
    <tr>
      <td>Testowa nazwa 1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Testowa nazwa 2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Testowa nazwa 3</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>
  <table>
    <tr>
      <th>{{localize "MIDGUARD.CombatName"}}</th>
      <th>{{localize "MIDGUARD.CombatCloseCombatDefense"}}</th>
      <th>{{localize "MIDGUARD.CombatBalisticDefense"}}</th>
    </tr>
    <tr>
      <td>Testowa nazwa 1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Testowa nazwa 2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Testowa nazwa 3</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>
</div>
