<div class="left">
  <table>
    <caption>Atak dystansowy</caption>
    <tr>
      <th class="namingwidth">{{localize "MIDGUARD.CombatWeaponName"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatSkillsSum"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatAttacks"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatRangeClose"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatRangeMedium"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatRangeFar"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatRangeExtr"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatDamage"}}</th>
    </tr>
    <tr>
      <td>
        <input
          class="inputLong"
          name="data.combatRngOffOne.name"
          type="text"
          value="{{data.data.combatRngOffOne.name}}"
          placeholder="{{localize 'MIDGUARD.name'}}"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffOne.skillSum"
          type="text"
          value="{{data.data.combatRngOffOne.skillSum}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffOne.attacks"
          type="text"
          value="{{data.data.combatRngOffOne.attacks}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffOne.shortDistance"
          type="text"
          value="{{data.data.combatRngOffOne.shortDistance}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffOne.midDistance"
          type="text"
          value="{{data.data.combatRngOffOne.midDistance}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffOne.longDistance"
          type="text"
          value="{{data.data.combatRngOffOne.longDistance}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffOne.extrDistance"
          type="text"
          value="{{data.data.combatRngOffOne.extrDistance}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffOne.damage"
          type="text"
          value="{{data.data.combatRngOffOne.damage}}"
          placeholder="0"
        />
      </td>
    </tr>
    <tr>
      <td>
        <input
          class="inputLong"
          name="data.combatRngOffTwo.name"
          type="text"
          value="{{data.data.combatRngOffTwo.name}}"
          placeholder="{{localize 'MIDGUARD.name'}}"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffTwo.skillSum"
          type="text"
          value="{{data.data.combatRngOffTwo.skillSum}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffTwo.attacks"
          type="text"
          value="{{data.data.combatRngOffTwo.attacks}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffTwo.shortDistance"
          type="text"
          value="{{data.data.combatRngOffTwo.shortDistance}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffTwo.midDistance"
          type="text"
          value="{{data.data.combatRngOffTwo.midDistance}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffTwo.longDistance"
          type="text"
          value="{{data.data.combatRngOffTwo.longDistance}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffTwo.extrDistance"
          type="text"
          value="{{data.data.combatRngOffTwo.extrDistance}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffTwo.damage"
          type="text"
          value="{{data.data.combatRngOffTwo.damage}}"
          placeholder="0"
        />
      </td>
    </tr>
    <tr>
      <td>
        <input
          class="inputLong"
          name="data.combatRngOffThree.name"
          type="text"
          value="{{data.data.combatRngOffThree.name}}"
          placeholder="{{localize 'MIDGUARD.name'}}"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffThree.skillSum"
          type="text"
          value="{{data.data.combatRngOffThree.skillSum}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffThree.attacks"
          type="text"
          value="{{data.data.combatRngOffThree.attacks}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffThree.shortDistance"
          type="text"
          value="{{data.data.combatRngOffThree.shortDistance}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffThree.midDistance"
          type="text"
          value="{{data.data.combatRngOffThree.midDistance}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffThree.longDistance"
          type="text"
          value="{{data.data.combatRngOffThree.longDistance}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffThree.extrDistance"
          type="text"
          value="{{data.data.combatRngOffThree.extrDistance}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngOffThree.damage"
          type="text"
          value="{{data.data.combatRngOffThree.damage}}"
          placeholder="0"
        />
      </td>
    </tr>
  </table>
  <table>
    <caption>Obrona dystansowa</caption>
    <tr>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatBasic"}}</th>
      <th class="limitedwidth">{{localize
          "MIDGUARD.MainParametersDexterity"
        }}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.MainParametersCool"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.Atuts"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatBonuses"}}</th>
      <th class="limitedwidth">
        {{localize "MIDGUARD.CombatArmor"}}
        /
        {{localize "MIDGUARD.CombatShield"}}
      </th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatSum"}}</th>
    </tr>
    <tr>
      <td>
        <input
          class="inputShort"
          name="data.combatRngDefOne.basic"
          type="number"
          value="{{data.data.combatRngDefOne.basic}}"
          placeholder="0"
        />
      </td>
      <td class="inputShort">{{data.data.dexterity}}</td>
      <td class="inputShort">{{data.data.cool}}</td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngDefOne.atuts"
          type="number"
          value="{{data.data.combatRngDefOne.atuts}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngDefOne.bonuses"
          type="number"
          value="{{data.data.combatRngDefOne.bonuses}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngDefOne.armorShield"
          type="number"
          value="{{data.data.combatRngDefOne.armorShield}}"
          placeholder="0"
        />
      </td>
      <td class="inputShort">
        {{sum
          data.data.combatRngDefOne.basic
          data.data.dexterity
          data.data.cool
          data.data.combatRngDefOne.atuts
          data.data.combatRngDefOne.bonuses
          data.data.combatRngDefOne.armorShield
        }}
      </td>
    </tr>
    <tr>
      <td>
        <input
          class="inputShort"
          name="data.combatRngDefTwo.basic"
          type="number"
          value="{{data.data.combatRngDefTwo.basic}}"
          placeholder="0"
        />
      </td>
      <td class="inputShort">{{data.data.dexterity}}</td>
      <td class="inputShort">{{data.data.cool}}</td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngDefTwo.atuts"
          type="number"
          value="{{data.data.combatRngDefTwo.atuts}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngDefTwo.bonuses"
          type="number"
          value="{{data.data.combatRngDefTwo.bonuses}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngDefTwo.armorShield"
          type="number"
          value="{{data.data.combatRngDefTwo.armorShield}}"
          placeholder="0"
        />
      </td>
      <td class="inputShort">
        {{sum
          data.data.combatRngDefTwo.basic
          data.data.dexterity
          data.data.cool
          data.data.combatRngDefTwo.atuts
          data.data.combatRngDefTwo.bonuses
          data.data.combatRngDefTwo.armorShield
        }}
      </td>
    </tr>
    <tr>
      <td>
        <input
          class="inputShort"
          name="data.combatRngDefThree.basic"
          type="number"
          value="{{data.data.combatRngDefThree.basic}}"
          placeholder="0"
        />
      </td>
      <td class="inputShort">{{data.data.dexterity}}</td>
      <td class="inputShort">{{data.data.cool}}</td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngDefThree.atuts"
          type="number"
          value="{{data.data.combatRngDefThree.atuts}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngDefThree.bonuses"
          type="number"
          value="{{data.data.combatRngDefThree.bonuses}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatRngDefThree.armorShield"
          type="number"
          value="{{data.data.combatRngDefThree.armorShield}}"
          placeholder="0"
        />
      </td>
      <td class="inputShort">
        {{sum
          data.data.combatRngDefThree.basic
          data.data.dexterity
          data.data.cool
          data.data.combatRngDefThree.atuts
          data.data.combatRngDefThree.bonuses
          data.data.combatRngDefThree.armorShield
        }}
      </td>
    </tr>
  </table>
  <table>
    <caption>Atak w zwarciu</caption>
    <tr>
      <th class="namingwidth">{{localize "MIDGUARD.CombatWeaponName"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatType"}}</th>
      <th class="limitedwidth">{{localize
          "MIDGUARD.CombatSkillsSumMWorMC"
        }}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatAccuracy"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatHitpoints"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatDamage"}}</th>
    </tr>
    <tr>
      <td>
        <input
          class="inputLong"
          name="data.combatCloOffOne.name"
          type="text"
          value="{{data.data.combatCloOffOne.name}}"
          placeholder="{{localize 'MIDGUARD.name'}}"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloOffOne.type"
          type="text"
          value="{{data.data.combatCloOffOne.type}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloOffOne.sumSkill"
          type="text"
          value="{{data.data.combatCloOffOne.sumSkill}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloOffOne.accuracy"
          type="text"
          value="{{data.data.combatCloOffOne.accuracy}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloOffOne.hits"
          type="text"
          value="{{data.data.combatCloOffOne.hits}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloOffOne.damage"
          type="text"
          value="{{data.data.combatCloOffOne.damage}}"
          placeholder="0"
        />
      </td>
    </tr>
    <tr>
      <td>
        <input
          class="inputLong"
          name="data.combatCloOffTwo.name"
          type="text"
          value="{{data.data.combatCloOffTwo.name}}"
          placeholder="{{localize 'MIDGUARD.name'}}"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloOffTwo.type"
          type="text"
          value="{{data.data.combatCloOffTwo.type}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloOffTwo.sumSkill"
          type="text"
          value="{{data.data.combatCloOffTwo.sumSkill}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloOffTwo.accuracy"
          type="text"
          value="{{data.data.combatCloOffTwo.accuracy}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloOffTwo.hits"
          type="text"
          value="{{data.data.combatCloOffTwo.hits}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloOffTwo.damage"
          type="text"
          value="{{data.data.combatCloOffTwo.damage}}"
          placeholder="0"
        />
      </td>
    </tr>
    <tr>
      <td>
        <input
          class="inputLong"
          name="data.combatCloOffThree.name"
          type="text"
          value="{{data.data.combatCloOffThree.name}}"
          placeholder="{{localize 'MIDGUARD.name'}}"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloOffThree.type"
          type="text"
          value="{{data.data.combatCloOffThree.type}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloOffThree.sumSkill"
          type="text"
          value="{{data.data.combatCloOffThree.sumSkill}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloOffThree.accuracy"
          type="text"
          value="{{data.data.combatCloOffThree.accuracy}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloOffThree.hits"
          type="text"
          value="{{data.data.combatCloOffThree.hits}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloOffThree.damage"
          type="text"
          value="{{data.data.combatCloOffThree.damage}}"
          placeholder="0"
        />
      </td>
    </tr>
  </table>
  <table>
    <caption>Obrona w zwarciu</caption>
    <tr>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatBasic"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.MainParametersCool"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatMWorMCvalue"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatBonuses"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatWeaponDefense"}}</th>
      <th class="limitedwidth">
        {{localize "MIDGUARD.CombatArmor"}}
        /
        {{localize "MIDGUARD.CombatShield"}}
      </th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatSum"}}</th>
    </tr>
    <tr>
      <td>
        <input
          class="inputShort"
          name="data.combatCloDefOne.basic"
          type="number"
          value="{{data.data.combatCloDefOne.basic}}"
          placeholder="0"
        />
      </td>
      <td class="inputShort">{{data.data.cool}}</td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloDefOne.MWorMC"
          type="number"
          value="{{data.data.combatCloDefOne.MWorMC}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloDefOne.bonuses"
          type="number"
          value="{{data.data.combatCloDefOne.bonuses}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloDefOne.weaponDef"
          type="number"
          value="{{data.data.combatCloDefOne.weaponDef}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloDefOne.armorShield"
          type="number"
          value="{{data.data.combatCloDefOne.armorShield}}"
          placeholder="0"
        />
      </td>
      <td class="inputShort">
        {{sum
          data.data.combatCloDefOne.basic
          data.data.cool
          data.data.combatCloDefOne.MWorMC
          data.data.combatCloDefOne.bonuses
          data.data.combatCloDefOne.weaponDef
          data.data.combatCloDefOne.armorShield
        }}
      </td>
    </tr>
    <tr>
      <td>
        <input
          class="inputShort"
          name="data.combatCloDefTwo.basic"
          type="number"
          value="{{data.data.combatCloDefTwo.basic}}"
          placeholder="0"
        />
      </td>
      <td class="inputShort">{{data.data.cool}}</td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloDefTwo.MWorMC"
          type="number"
          value="{{data.data.combatCloDefTwo.MWorMC}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloDefTwo.bonuses"
          type="number"
          value="{{data.data.combatCloDefTwo.bonuses}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloDefTwo.weaponDef"
          type="number"
          value="{{data.data.combatCloDefTwo.weaponDef}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloDefTwo.armorShield"
          type="number"
          value="{{data.data.combatCloDefTwo.armorShield}}"
          placeholder="0"
        />
      </td>
      <td class="inputShort">
        {{sum
          data.data.combatCloDefTwo.basic
          data.data.cool
          data.data.combatCloDefTwo.MWorMC
          data.data.combatCloDefTwo.bonuses
          data.data.combatCloDefTwo.weaponDef
          data.data.combatCloDefTwo.armorShield
        }}
      </td>
    </tr>
    <tr>
      <td>
        <input
          class="inputShort"
          name="data.combatCloDefThree.basic"
          type="number"
          value="{{data.data.combatCloDefThree.basic}}"
          placeholder="0"
        />
      </td>
      <td class="inputShort">{{data.data.cool}}</td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloDefThree.MWorMC"
          type="number"
          value="{{data.data.combatCloDefThree.MWorMC}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloDefThree.bonuses"
          type="number"
          value="{{data.data.combatCloDefThree.bonuses}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloDefThree.weaponDef"
          type="number"
          value="{{data.data.combatCloDefThree.weaponDef}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatCloDefThree.armorShield"
          type="number"
          value="{{data.data.combatCloDefThree.armorShield}}"
          placeholder="0"
        />
      </td>
      <td class="inputShort">
        {{sum
          data.data.combatCloDefThree.basic
          data.data.cool
          data.data.combatCloDefThree.MWorMC
          data.data.combatCloDefThree.bonuses
          data.data.combatCloDefThree.weaponDef
          data.data.combatCloDefThree.armorShield
        }}
      </td>
    </tr>
  </table>
</div>
<div class="right">
  <table>
    <caption>Granaty</caption>
    <tr>
      <th>{{localize "MIDGUARD.CombatName"}}</th>
      <th class="limitedwidth">{{localize
          "MIDGUARD.CombatExplosionRadius"
        }}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatDamage"}}</th>
    </tr>
    <tr>
      <td>
        <input
          class="inputLong"
          name="data.combatGrenadeOne.name"
          type="text"
          value="{{data.data.combatGrenadeOne.name}}"
          placeholder="{{localize 'MIDGUARD.name'}}"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatGrenadeOne.explosionRadius"
          type="text"
          value="{{data.data.combatGrenadeOne.explosionRadius}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatGrenadeOne.damage"
          type="text"
          value="{{data.data.combatGrenadeOne.damage}}"
          placeholder="0"
        />
      </td>
    </tr>
    <tr>
      <td>
        <input
          class="inputLong"
          name="data.combatGrenadeTwo.name"
          type="text"
          value="{{data.data.combatGrenadeTwo.name}}"
          placeholder="{{localize 'MIDGUARD.name'}}"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatGrenadeTwo.explosionRadius"
          type="text"
          value="{{data.data.combatGrenadeTwo.explosionRadius}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatGrenadeTwo.damage"
          type="text"
          value="{{data.data.combatGrenadeTwo.damage}}"
          placeholder="0"
        />
      </td>
    </tr>
    <tr>
      <td>
        <input
          class="inputLong"
          name="data.combatGrenadeThree.name"
          type="text"
          value="{{data.data.combatGrenadeThree.name}}"
          placeholder="{{localize 'MIDGUARD.name'}}"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatGrenadeThree.explosionRadius"
          type="text"
          value="{{data.data.combatGrenadeThree.explosionRadius}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatGrenadeThree.damage"
          type="text"
          value="{{data.data.combatGrenadeThree.damage}}"
          placeholder="0"
        />
      </td>
    </tr>
  </table>
  <table>
    <caption>Pancerze</caption>
    <tr>
      <th>{{localize "MIDGUARD.CombatName"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatCloseCombat"}}</th>
      <th class="limitedwidth">{{localize "MIDGUARD.CombatBalistic"}}</th>
    </tr>
    <tr>
      <td>
        <input
          class="inputLong"
          name="data.combatArmorsOne.name"
          type="text"
          value="{{data.data.combatArmorsOne.name}}"
          placeholder="{{localize 'MIDGUARD.name'}}"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatArmorsOne.closeCombat"
          type="text"
          value="{{data.data.combatArmorsOne.closeCombat}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatArmorsOne.ballistic"
          type="text"
          value="{{data.data.combatArmorsOne.ballistic}}"
          placeholder="0"
        />
      </td>
    </tr>
    <tr>
      <td>
        <input
          class="inputLong"
          name="data.combatArmorsTwo.name"
          type="text"
          value="{{data.data.combatArmorsTwo.name}}"
          placeholder="{{localize 'MIDGUARD.name'}}"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatArmorsTwo.closeCombat"
          type="text"
          value="{{data.data.combatArmorsTwo.closeCombat}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatArmorsTwo.ballistic"
          type="text"
          value="{{data.data.combatArmorsTwo.ballistic}}"
          placeholder="0"
        />
      </td>
    </tr>
    <tr>
      <td>
        <input
          class="inputLong"
          name="data.combatArmorsThree.name"
          type="text"
          value="{{data.data.combatArmorsThree.name}}"
          placeholder="{{localize 'MIDGUARD.name'}}"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatArmorsThree.closeCombat"
          type="text"
          value="{{data.data.combatArmorsThree.closeCombat}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatArmorsThree.ballistic"
          type="text"
          value="{{data.data.combatArmorsThree.ballistic}}"
          placeholder="0"
        />
      </td>
    </tr>
  </table>
  <table>
    <caption>Tarcza</caption>
    <tr>
      <th>{{localize "MIDGUARD.CombatName"}}</th>
      <th class="limitedwidth">{{localize
          "MIDGUARD.CombatCloseCombatDefense"
        }}</th>
      <th class="limitedwidth">{{localize
          "MIDGUARD.CombatBalisticDefense"
        }}</th>
    </tr>
    <tr>
      <td>
        <input
          class="inputLong"
          name="data.combatShieldOne.name"
          type="text"
          value="{{data.data.combatShieldOne.name}}"
          placeholder="{{localize 'MIDGUARD.name'}}"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatShieldOne.closeDef"
          type="text"
          value="{{data.data.combatShieldOne.closeDef}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatShieldOne.rangeDef"
          type="text"
          value="{{data.data.combatShieldOne.rangeDef}}"
          placeholder="0"
        />
      </td>
    </tr>
    <tr>
      <td>
        <input
          class="inputLong"
          name="data.combatShieldTwo.name"
          type="text"
          value="{{data.data.combatShieldTwo.name}}"
          placeholder="{{localize 'MIDGUARD.name'}}"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatShieldTwo.closeDef"
          type="text"
          value="{{data.data.combatShieldTwo.closeDef}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatShieldTwo.rangeDef"
          type="text"
          value="{{data.data.combatShieldTwo.rangeDef}}"
          placeholder="0"
        />
      </td>
    </tr>
    <tr>
      <td>
        <input
          class="inputLong"
          name="data.combatShieldThree.name"
          type="text"
          value="{{data.data.combatShieldThree.name}}"
          placeholder="{{localize 'MIDGUARD.name'}}"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatShieldThree.closeDef"
          type="text"
          value="{{data.data.combatShieldThree.closeDef}}"
          placeholder="0"
        />
      </td>
      <td>
        <input
          class="inputShort"
          name="data.combatShieldThree.rangeDef"
          type="text"
          value="{{data.data.combatShieldThree.rangeDef}}"
          placeholder="0"
        />
      </td>
    </tr>
  </table>
</div>
<div style="clear:both;"></div>