<form class="{{cssClass}}" autocomplete="off">
  <div>
    <!-- character name starts -->

    <div>
      <h1>
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="Name"
          class="charName"
        />
      </h1>
    </div>

    <!-- character name ends -->
    <!-- header starts -->
    <header class="centry">
      <div class="details">
        <div class="columnAlternative">
          <img
            class="profile-img"
            src="{{actor.img}}"
            data-edit="img"
            title="{{actor.name}}"
          />
        </div>
        <div class="columnAlternative">
          <div class="row">
            <div class="columnAlternative rowfirst">
              <div>
                <label class="resource-label labeldetails">{{localize
                    "MIDGUARD.CharacterRace"
                  }}</label>
              </div>
              <div>
                <input
                  name="data.race"
                  type="text"
                  value="{{data.data.race}}"
                />
              </div>
            </div>
            <div class="columnAlternative rowfirst">
              <div>
                <label class="resource-label labeldetails">{{localize
                    "MIDGUARD.CharacterClass"
                  }}</label>
              </div>
              <div>
                <input
                  name="data.class"
                  type="text"
                  value="{{data.data.class}}"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="columnAlternative rowsecond">
              <div>
                <label class="resource-label labeldetails">{{localize
                    "MIDGUARD.CharacterRank"
                  }}</label>
              </div>
              <div>
                <input
                  name="data.rank"
                  type="text"
                  value="{{data.data.rank}}"
                />
              </div>
            </div>
            <div class="columnAlternative rowsecond">
              <div>
                <label class="resource-label labeldetails">{{localize
                    "MIDGUARD.CharacterMysticLanguage"
                  }}</label>
              </div>
              <div>
                <input
                  name="data.mysticlanguage"
                  type="text"
                  value="{{data.data.mysticlanguage}}"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="columnAlternative rowthirda">
              <div>
                <label class="resource-label labeldetails">{{localize
                    "MIDGUARD.CharacterMotivation"
                  }}</label>
              </div>
              <div>
                <input
                  name="data.motivation"
                  type="text"
                  value="{{data.data.motivation}}"
                />
              </div>
            </div>
            <div class="columnAlternative rowthirdb">
              <div>
                <label class="resource-label labeldetails">{{localize
                    "MIDGUARD.CharacterGender"
                  }}</label>
              </div>
              <div>
                <input
                  name="data.gender"
                  type="text"
                  value="{{data.data.gender}}"
                />
              </div>
            </div>
            <div class="columnAlternative rowthirdb">
              <div>
                <label class="resource-label labeldetails">{{localize
                    "MIDGUARD.CharacterAge"
                  }}</label>
              </div>
              <div>
                <input
                  name="data.age"
                  type="number"
                  value="{{data.data.age}}"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="columnAlternative rowforth">
              <div>
                <label class="resource-label labeldetails">{{localize
                    "MIDGUARD.CharacterLuck"
                  }}</label>
              </div>
              <div>
                <div class="columnAlternative">
                  <input
                    type="number"
                    name="data.luck.value"
                    value="{{data.data.luck.value}}"
                    data-dtype="Number"
                  />
                </div>
                <div class="columnAlternative slash"> / </div>
                <div class="columnAlternative">
                  <input
                    type="number"
                    name="data.luck.max"
                    value="{{data.data.luck.max}}"
                    data-dtype="Number"
                  />
                </div>
              </div>
            </div>
            <div class="columnAlternative rowforth">
              <div>
                <label class="resource-label labeldetails">{{localize
                    "MIDGUARD.CharacterMoves"
                  }}</label>
              </div>
              <div>
                <div class="columnAlternative">
                  <input
                    type="number"
                    name="data.moves.value"
                    value="{{data.data.moves.value}}"
                    data-dtype="Number"
                  />
                </div>
                <div class="columnAlternative slash"> / </div>
                <div class="columnAlternative">
                  <input
                    type="number"
                    name="data.moves.max"
                    value="{{data.data.moves.max}}"
                    data-dtype="Number"
                  />
                </div>
              </div>
            </div>
            <div class="columnAlternative rowforth">
              <div>
                <label class="resource-label labeldetails">{{localize
                    "MIDGUARD.CharacterNornBless"
                  }}</label>
              </div>
              <div>
                <div class="columnAlternative">
                  <input
                    type="number"
                    name="data.nornBless.value"
                    value="{{data.data.nornBless.value}}"
                    data-dtype="Number"
                  />
                </div>
                <div class="columnAlternative slash"> / </div>
                <div class="columnAlternative">
                  <input
                    type="number"
                    name="data.nornBless.max"
                    value="{{data.data.nornBless.max}}"
                    data-dtype="Number"
                  />
                </div>
              </div>
            </div>
            <div class="columnAlternative rowforth">
              <div>
                <label class="resource-label labeldetails">{{localize
                    "MIDGUARD.SecondaryParametersVitality"
                  }}</label>
              </div>
              <div>
                <div class="columnAlternative">
                  <input
                    type="number"
                    name="data.vitality.value"
                    value="{{data.data.vitality.value}}"
                    data-dtype="Number"
                  />
                </div>
                <div class="columnAlternative slash"> / </div>
                <div class="columnAlternative healthmax">
                  {{timesFivePlusTen data.data.bodyBuild placeholder="0"}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="columnAlternative rowfifth">
              <label class="resource-label labeldetails">{{localize
                  "MIDGUARD.CharacterExpTotal"
                }}</label>
            </div>
            <div class="columnAlternative rowfifth">
              <input
                type="number"
                name="data.exp.total"
                value="{{data.data.exp.total}}"
                data-dtype="Number"
              />
            </div>
            <div class="columnAlternative rowfifth">
              <label class="resource-label labeldetails">{{localize
                  "MIDGUARD.CharacterExpSpent"
                }}</label>
            </div>
            <div class="columnAlternative rowfifth">
              <input
                type="number"
                name="data.exp.spent"
                value="{{data.data.exp.spent}}"
                data-dtype="Number"
              />
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- header ends -->
    <!-- navigation starts -->

    <nav class="navcontainer sheet-tabs tabs navigation" data-group="primary">
      <div class="item">
        <a class="item labelnav" data-tab="parameters">{{localize
            "MIDGUARD.parameters"
          }}</a>
      </div>
      <div class="item">
        <a class="item labelnav" data-tab="atutsImplants">{{localize
            "MIDGUARD.Atuts"
          }},
          {{localize "MIDGUARD.Implants"}},
          {{localize "MIDGUARD.Traits"}}</a>
      </div>
      <div class="item">
        <a class="item labelnav" data-tab="combat">{{localize
            "MIDGUARD.combat"
          }}</a>
      </div>
      <div class="item">
        <a class="item labelnav" data-tab="entropicPowers">{{localize
            "MIDGUARD.entropicPowers"
          }}</a>
      </div>
      <div class="item">
        <a class="item labelnav" data-tab="equipment">{{localize
            "MIDGUARD.equipment"
          }}</a>
      </div>
      <div class="item">
        <a class="item labelnav" data-tab="notes">{{localize
            "MIDGUARD.notes"
          }}</a>
      </div>
    </nav>

    <!-- navigation ends -->
    <!-- content starts -->

    <section class="contcontainer sheet-body content">
      <div class="item">
        <!-- Parameters start -->

        <div class="tab parameters" data-group="primary" data-tab="parameters">
          <div class="left">
            <table>
              <tr>
                <th colspan="3">{{localize
                    "MIDGUARD.MainParametersBodyBuild"
                  }}</th>
                <th class="lastchild"><input
                    name="data.bodyBuild"
                    type="number"
                    value="{{data.data.bodyBuild}}"
                  /></th>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td>{{localize "MIDGUARD.Value"}}</td>
                <td>{{localize "MIDGUARD.Sum"}}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsMeleeWeapon"}}</td>
                <td><input
                    name="data.meleeWeapon.self"
                    type="number"
                    value="{{data.data.meleeWeapon.self}}"
                  /></td>
                <td>{{sum
                    data.data.bodyBuild
                    data.data.meleeWeapon.self
                    content=data.data.meleeWeapon.total
                    target="data.meleeWeapon.total"
                  }}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsMeleeCombat"}}</td>
                <td><input
                    name="data.meleeCombat.self"
                    type="number"
                    value="{{data.data.meleeCombat.self}}"
                  /></td>
                <td>{{sum data.data.bodyBuild data.data.meleeCombat.self}}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsEndurance"}}</td>
                <td><input
                    name="data.endurance.self"
                    type="number"
                    value="{{data.data.endurance.self}}"
                  /></td>
                <td>{{sum data.data.bodyBuild data.data.endurance.self}}</td>
              </tr>
            </table>
            <table>
              <tr>
                <th colspan="3">{{localize
                    "MIDGUARD.MainParametersDexterity"
                  }}</th>
                <th class="lastchild"><input
                    name="data.dexterity"
                    type="number"
                    value="{{data.data.dexterity}}"
                  /></th>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td>{{localize "MIDGUARD.Value"}}</td>
                <td>{{localize "MIDGUARD.Sum"}}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsShortWeapon"}}</td>
                <td><input
                    name="data.shortWeapon.self"
                    type="number"
                    value="{{data.data.shortWeapon.self}}"
                  /></td>
                <td>{{sum data.data.dexterity data.data.shortWeapon.self}}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsDriving"}}</td>
                <td><input
                    name="data.driving.self"
                    type="number"
                    value="{{data.data.driving.self}}"
                  /></td>
                <td>{{sum data.data.dexterity data.data.driving.self}}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsReflex"}}</td>
                <td><input
                    name="data.reflex.self"
                    type="number"
                    value="{{data.data.reflex.self}}"
                  /></td>
                <td>{{sum data.data.dexterity data.data.reflex.self}}</td>
              </tr>
            </table>
            <table>
              <tr>
                <th colspan="3">{{localize
                    "MIDGUARD.MainParametersPerception"
                  }}</th>
                <th class="lastchild"><input
                    name="data.perception"
                    type="number"
                    value="{{data.data.perception}}"
                  /></th>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td>{{localize "MIDGUARD.Value"}}</td>
                <td>{{localize "MIDGUARD.Sum"}}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsLongWeapon"}}</td>
                <td><input
                    name="data.longWeapon.self"
                    type="number"
                    value="{{data.data.longWeapon.self}}"
                  /></td>
                <td>{{sum data.data.perception data.data.longWeapon.self}}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsPilotage"}}</td>
                <td><input
                    name="data.pilotage.self"
                    type="number"
                    value="{{data.data.pilotage.self}}"
                  /></td>
                <td>{{sum data.data.perception data.data.pilotage.self}}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsAcuteSenses"}}</td>
                <td><input
                    name="data.acuteSenses.self"
                    type="number"
                    value="{{data.data.acuteSenses.self}}"
                  /></td>
                <td>{{sum data.data.perception data.data.acuteSenses.self}}</td>
              </tr>
            </table>
          </div>
          <div class="center">
            <table>
              <tr>
                <th colspan="3">{{localize
                    "MIDGUARD.MainParametersIntelligence"
                  }}</th>
                <th class="lastchild"><input
                    name="data.intelligence"
                    type="number"
                    value="{{data.data.intelligence}}"
                  /></th>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td>{{localize "MIDGUARD.Value"}}</td>
                <td>{{localize "MIDGUARD.Sum"}}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsConnections"}}</td>
                <td><input
                    name="data.connections.self"
                    type="number"
                    value="{{data.data.connections.self}}"
                  /></td>
                <td>{{sum
                    data.data.intelligence
                    data.data.connections.self
                  }}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsTechnology"}}</td>
                <td><input
                    name="data.technology.self"
                    type="number"
                    value="{{data.data.technology.self}}"
                  /></td>
                <td>{{sum
                    data.data.intelligence
                    data.data.technology.self
                  }}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsKnowledge"}}</td>
                <td><input
                    name="data.knowledge.self"
                    type="number"
                    value="{{data.data.knowledge.self}}"
                  /></td>
                <td>{{sum data.data.intelligence data.data.knowledge.self}}</td>
              </tr>
            </table>
            <table>
              <tr>
                <th colspan="3">{{localize "MIDGUARD.MainParametersCool"}}</th>
                <th class="lastchild"><input
                    name="data.cool"
                    type="number"
                    value="{{data.data.cool}}"
                  /></th>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td>{{localize "MIDGUARD.Value"}}</td>
                <td>{{localize "MIDGUARD.Sum"}}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsHacking"}}</td>
                <td><input
                    name="data.hacking.self"
                    type="number"
                    value="{{data.data.hacking.self}}"
                  /></td>
                <td>{{sum data.data.cool data.data.hacking.self}}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsInfiltration"}}</td>
                <td><input
                    name="data.infiltration.self"
                    type="number"
                    value="{{data.data.infiltration.self}}"
                  /></td>
                <td>{{sum data.data.cool data.data.infiltration.self}}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsTricks"}}</td>
                <td><input
                    name="data.tricks.self"
                    type="number"
                    value="{{data.data.tricks.self}}"
                  /></td>
                <td>{{sum data.data.cool data.data.tricks.self}}</td>
              </tr>
            </table>
            <table>
              <tr>
                <th colspan="3">{{localize
                    "MIDGUARD.MainParametersEntropy"
                  }}</th>
                <th class="lastchild"><input
                    name="data.entropy"
                    type="number"
                    value="{{data.data.entropy}}"
                  /></th>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td>{{localize "MIDGUARD.Value"}}</td>
                <td>{{localize "MIDGUARD.Sum"}}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsCharm"}}</td>
                <td><input
                    name="data.charm.self"
                    type="number"
                    value="{{data.data.charm.self}}"
                  /></td>
                <td>{{sum data.data.entropy data.data.charm.self}}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsHekseri"}}</td>
                <td><input
                    name="data.hekseri.self"
                    type="number"
                    value="{{data.data.hekseri.self}}"
                  /></td>
                <td>{{sum data.data.entropy data.data.hekseri.self}}</td>
              </tr>
              <tr>
                <td colspan="2">{{localize "MIDGUARD.SkillsWillpower"}}</td>
                <td><input
                    name="data.willpower.self"
                    type="number"
                    value="{{data.data.willpower.self}}"
                  /></td>
                <td>{{sum data.data.entropy data.data.willpower.self}}</td>
              </tr>
            </table>
          </div>
          <div class="right">
            <table>
              <tr>
                <th></th>
                <th>Max</th>
                <th class="exception">Obecnie</th>
              </tr>
              <tr>
                <th>{{localize "MIDGUARD.SecondaryParametersPower"}}</th>
                <td>{{timesFive data.data.intelligence}}</td>
                <td><input
                    name="data.power.value"
                    type="number"
                    value="{{data.data.power.value}}"
                  /></td>
              </tr>
              <tr>
                <th>{{localize
                    "MIDGUARD.SecondaryParametersConcentration"
                  }}</th>
                <td>{{sum data.data.cool data.data.entropy}}</td>
                <td><input
                    name="data.concentration.value"
                    type="number"
                    value="{{data.data.concentration.value}}"
                  /></td>
              </tr>
              <tr>
                <th>{{localize
                    "MIDGUARD.SecondaryParametersNeurostability"
                  }}</th>
                <td>{{timesFive data.data.intelligence}}</td>
                <td><input
                    name="data.neurostability.value"
                    type="number"
                    value="{{data.data.neurostability.value}}"
                  /></td>
              </tr>
              <tr>
                <th>{{localize "MIDGUARD.SecondaryParametersAthletic"}}</th>
                <td>{{sum data.data.bodyBuild data.data.dexterity}}</td>
                <td><input
                    name="data.athletic.value"
                    type="number"
                    value="{{data.data.athletic.value}}"
                  /></td>
              </tr>
              <tr>
                <th>{{localize "MIDGUARD.SecondaryParametersAppearance"}}</th>
                <td>{{sum data.data.bodyBuild data.data.entropy}}</td>
                <td><input
                    name="data.appearance.value"
                    type="number"
                    value="{{data.data.appearance.value}}"
                  /></td>
              </tr>
            </table>
          </div>
          <div style="clear:both;"></div>
        </div>

        <!-- Parameters end -->
        <!-- Atuts, Implants and Traits start -->
        <div
          class="tab atutsImplants"
          data-group="primary"
          data-tab="atutsImplants"
        >
          <div class="flex-container">
            <div class="flex-item">Atuty dsa ds as ds ad asd asd sa d</div>
            <div class="flex-item">Wszczepy dsa ds ad s asda sd asd asd a</div>
            <div class="flex-item">Zalety asd asds asd asda sd as</div>
          </div>
        </div>
        <!-- Atuts, Implants and Traits end -->
        <!-- Combat start -->
        <div class="tab combat" data-group="primary" data-tab="combat">
          <div class="left">
            <table>
              <caption>Atak dystansowy</caption>
              <tr>
                <th class="namingwidth">{{localize
                    "MIDGUARD.CombatWeaponName"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatSkillsSum"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatAttacks"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatRangeClose"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatRangeMedium"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatRangeFar"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatRangeExtr"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatDamage"
                  }}</th>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputLong"
                    name="data.combatRngOffOne.name"
                    type="text"
                    value="{{data.data.combatRngOffOne.name}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffOne.skillSum"
                    type="text"
                    value="{{data.data.combatRngOffOne.skillSum}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffOne.attacks"
                    type="text"
                    value="{{data.data.combatRngOffOne.attacks}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffOne.shortDistance"
                    type="text"
                    value="{{data.data.combatRngOffOne.shortDistance}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffOne.midDistance"
                    type="text"
                    value="{{data.data.combatRngOffOne.midDistance}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffOne.longDistance"
                    type="text"
                    value="{{data.data.combatRngOffOne.longDistance}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffOne.extrDistance"
                    type="text"
                    value="{{data.data.combatRngOffOne.extrDistance}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffOne.damage"
                    type="text"
                    value="{{data.data.combatRngOffOne.damage}}"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputLong"
                    name="data.combatRngOffTwo.name"
                    type="text"
                    value="{{data.data.combatRngOffTwo.name}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffTwo.skillSum"
                    type="text"
                    value="{{data.data.combatRngOffTwo.skillSum}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffTwo.attacks"
                    type="text"
                    value="{{data.data.combatRngOffTwo.attacks}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffTwo.shortDistance"
                    type="text"
                    value="{{data.data.combatRngOffTwo.shortDistance}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffTwo.midDistance"
                    type="text"
                    value="{{data.data.combatRngOffTwo.midDistance}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffTwo.longDistance"
                    type="text"
                    value="{{data.data.combatRngOffTwo.longDistance}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffTwo.extrDistance"
                    type="text"
                    value="{{data.data.combatRngOffTwo.extrDistance}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffTwo.damage"
                    type="text"
                    value="{{data.data.combatRngOffTwo.damage}}"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputLong"
                    name="data.combatRngOffThree.name"
                    type="text"
                    value="{{data.data.combatRngOffThree.name}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffThree.skillSum"
                    type="text"
                    value="{{data.data.combatRngOffThree.skillSum}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffThree.attacks"
                    type="text"
                    value="{{data.data.combatRngOffThree.attacks}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffThree.shortDistance"
                    type="text"
                    value="{{data.data.combatRngOffThree.shortDistance}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffThree.midDistance"
                    type="text"
                    value="{{data.data.combatRngOffThree.midDistance}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffThree.longDistance"
                    type="text"
                    value="{{data.data.combatRngOffThree.longDistance}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffThree.extrDistance"
                    type="text"
                    value="{{data.data.combatRngOffThree.extrDistance}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngOffThree.damage"
                    type="text"
                    value="{{data.data.combatRngOffThree.damage}}"
                  />
                </td>
              </tr>
            </table>
            <table>
              <caption>Obrona dystansowa</caption>
              <tr>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatBasic"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.MainParametersDexterity"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.MainParametersCool"
                  }}</th>
                <th class="limitedwidth">{{localize "MIDGUARD.Atuts"}}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatBonuses"
                  }}</th>
                <th class="limitedwidth">
                  {{localize "MIDGUARD.CombatArmor"}}
                  /
                  {{localize "MIDGUARD.CombatShield"}}
                </th>
                <th class="limitedwidth">{{localize "MIDGUARD.CombatSum"}}</th>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngDefOne.basic"
                    type="number"
                    value="{{data.data.combatRngDefOne.basic}}"
                  />
                </td>
                <td class="inputShort">{{data.data.dexterity}}</td>
                <td class="inputShort">{{data.data.cool}}</td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngDefOne.atuts"
                    type="number"
                    value="{{data.data.combatRngDefOne.atuts}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngDefOne.bonuses"
                    type="number"
                    value="{{data.data.combatRngDefOne.bonuses}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngDefOne.armorShield"
                    type="number"
                    value="{{data.data.combatRngDefOne.armorShield}}"
                  />
                </td>
                <td class="inputShort">
                  {{sum
                    data.data.combatRngDefOne.basic
                    data.data.dexterity
                    data.data.cool
                    data.data.combatRngDefOne.atuts
                    data.data.combatRngDefOne.bonuses
                    data.data.combatRngDefOne.armorShield
                  }}
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngDefTwo.basic"
                    type="number"
                    value="{{data.data.combatRngDefTwo.basic}}"
                  />
                </td>
                <td class="inputShort">{{data.data.dexterity}}</td>
                <td class="inputShort">{{data.data.cool}}</td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngDefTwo.atuts"
                    type="number"
                    value="{{data.data.combatRngDefTwo.atuts}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngDefTwo.bonuses"
                    type="number"
                    value="{{data.data.combatRngDefTwo.bonuses}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngDefTwo.armorShield"
                    type="number"
                    value="{{data.data.combatRngDefTwo.armorShield}}"
                  />
                </td>
                <td class="inputShort">
                  {{sum
                    data.data.combatRngDefTwo.basic
                    data.data.dexterity
                    data.data.cool
                    data.data.combatRngDefTwo.atuts
                    data.data.combatRngDefTwo.bonuses
                    data.data.combatRngDefTwo.armorShield
                  }}
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngDefThree.basic"
                    type="number"
                    value="{{data.data.combatRngDefThree.basic}}"
                  />
                </td>
                <td class="inputShort">{{data.data.dexterity}}</td>
                <td class="inputShort">{{data.data.cool}}</td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngDefThree.atuts"
                    type="number"
                    value="{{data.data.combatRngDefThree.atuts}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngDefThree.bonuses"
                    type="number"
                    value="{{data.data.combatRngDefThree.bonuses}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatRngDefThree.armorShield"
                    type="number"
                    value="{{data.data.combatRngDefThree.armorShield}}"
                  />
                </td>
                <td class="inputShort">
                  {{sum
                    data.data.combatRngDefThree.basic
                    data.data.dexterity
                    data.data.cool
                    data.data.combatRngDefThree.atuts
                    data.data.combatRngDefThree.bonuses
                    data.data.combatRngDefThree.armorShield
                  }}
                </td>
              </tr>
            </table>
            <table>
              <caption>Atak w zwarciu</caption>
              <tr>
                <th class="namingwidth">{{localize
                    "MIDGUARD.CombatWeaponName"
                  }}</th>
                <th class="limitedwidth">{{localize "MIDGUARD.CombatType"}}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatSkillsSumMWorMC"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatAccuracy"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatHitpoints"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatDamage"
                  }}</th>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputLong"
                    name="data.combatCloOffOne.name"
                    type="text"
                    value="{{data.data.combatCloOffOne.name}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloOffOne.type"
                    type="text"
                    value="{{data.data.combatCloOffOne.type}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloOffOne.sumSkill"
                    type="text"
                    value="{{data.data.combatCloOffOne.sumSkill}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloOffOne.accuracy"
                    type="text"
                    value="{{data.data.combatCloOffOne.accuracy}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloOffOne.hits"
                    type="text"
                    value="{{data.data.combatCloOffOne.hits}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloOffOne.damage"
                    type="text"
                    value="{{data.data.combatCloOffOne.damage}}"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputLong"
                    name="data.combatCloOffTwo.name"
                    type="text"
                    value="{{data.data.combatCloOffTwo.name}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloOffTwo.type"
                    type="text"
                    value="{{data.data.combatCloOffTwo.type}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloOffTwo.sumSkill"
                    type="text"
                    value="{{data.data.combatCloOffTwo.sumSkill}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloOffTwo.accuracy"
                    type="text"
                    value="{{data.data.combatCloOffTwo.accuracy}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloOffTwo.hits"
                    type="text"
                    value="{{data.data.combatCloOffTwo.hits}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloOffTwo.damage"
                    type="text"
                    value="{{data.data.combatCloOffTwo.damage}}"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputLong"
                    name="data.combatCloOffThree.name"
                    type="text"
                    value="{{data.data.combatCloOffThree.name}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloOffThree.type"
                    type="text"
                    value="{{data.data.combatCloOffThree.type}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloOffThree.sumSkill"
                    type="text"
                    value="{{data.data.combatCloOffThree.sumSkill}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloOffThree.accuracy"
                    type="text"
                    value="{{data.data.combatCloOffThree.accuracy}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloOffThree.hits"
                    type="text"
                    value="{{data.data.combatCloOffThree.hits}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloOffThree.damage"
                    type="text"
                    value="{{data.data.combatCloOffThree.damage}}"
                  />
                </td>
              </tr>
            </table>
            <table>
              <caption>Obrona w zwarciu</caption>
              <tr>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatBasic"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.MainParametersCool"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatMWorMCvalue"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatBonuses"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatWeaponDefense"
                  }}</th>
                <th class="limitedwidth">
                  {{localize "MIDGUARD.CombatArmor"}}
                  /
                  {{localize "MIDGUARD.CombatShield"}}
                </th>
                <th class="limitedwidth">{{localize "MIDGUARD.CombatSum"}}</th>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloDefOne.basic"
                    type="number"
                    value="{{data.data.combatCloDefOne.basic}}"
                  />
                </td>
                <td class="inputShort">{{data.data.cool}}</td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloDefOne.MWorMC"
                    type="number"
                    value="{{data.data.combatCloDefOne.MWorMC}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloDefOne.bonuses"
                    type="number"
                    value="{{data.data.combatCloDefOne.bonuses}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloDefOne.weaponDef"
                    type="number"
                    value="{{data.data.combatCloDefOne.weaponDef}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloDefOne.armorShield"
                    type="number"
                    value="{{data.data.combatCloDefOne.armorShield}}"
                  />
                </td>
                <td class="inputShort">
                  {{sum
                    data.data.combatCloDefOne.basic
                    data.data.cool
                    data.data.combatCloDefOne.MWorMC
                    data.data.combatCloDefOne.bonuses
                    data.data.combatCloDefOne.weaponDef
                    data.data.combatCloDefOne.armorShield
                  }}
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloDefTwo.basic"
                    type="number"
                    value="{{data.data.combatCloDefTwo.basic}}"
                  />
                </td>
                <td class="inputShort">{{data.data.cool}}</td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloDefTwo.MWorMC"
                    type="number"
                    value="{{data.data.combatCloDefTwo.MWorMC}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloDefTwo.bonuses"
                    type="number"
                    value="{{data.data.combatCloDefTwo.bonuses}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloDefTwo.weaponDef"
                    type="number"
                    value="{{data.data.combatCloDefTwo.weaponDef}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloDefTwo.armorShield"
                    type="number"
                    value="{{data.data.combatCloDefTwo.armorShield}}"
                  />
                </td>
                <td class="inputShort">
                  {{sum
                    data.data.combatCloDefTwo.basic
                    data.data.cool
                    data.data.combatCloDefTwo.MWorMC
                    data.data.combatCloDefTwo.bonuses
                    data.data.combatCloDefTwo.weaponDef
                    data.data.combatCloDefTwo.armorShield
                  }}
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloDefThree.basic"
                    type="number"
                    value="{{data.data.combatCloDefThree.basic}}"
                  />
                </td>
                <td class="inputShort">{{data.data.cool}}</td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloDefThree.MWorMC"
                    type="number"
                    value="{{data.data.combatCloDefThree.MWorMC}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloDefThree.bonuses"
                    type="number"
                    value="{{data.data.combatCloDefThree.bonuses}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloDefThree.weaponDef"
                    type="number"
                    value="{{data.data.combatCloDefThree.weaponDef}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatCloDefThree.armorShield"
                    type="number"
                    value="{{data.data.combatCloDefThree.armorShield}}"
                  />
                </td>
                <td class="inputShort">
                  {{sum
                    data.data.combatCloDefThree.basic
                    data.data.cool
                    data.data.combatCloDefThree.MWorMC
                    data.data.combatCloDefThree.bonuses
                    data.data.combatCloDefThree.weaponDef
                    data.data.combatCloDefThree.armorShield
                  }}
                </td>
              </tr>
            </table>
          </div>
          <div class="right">
            <table>
              <caption>Granaty</caption>
              <tr>
                <th>{{localize "MIDGUARD.CombatName"}}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatExplosionRadius"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatDamage"
                  }}</th>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputLong"
                    name="data.combatGrenadeOne.name"
                    type="text"
                    value="{{data.data.combatGrenadeOne.name}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatGrenadeOne.explosionRadius"
                    type="text"
                    value="{{data.data.combatGrenadeOne.explosionRadius}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatGrenadeOne.damage"
                    type="text"
                    value="{{data.data.combatGrenadeOne.damage}}"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputLong"
                    name="data.combatGrenadeTwo.name"
                    type="text"
                    value="{{data.data.combatGrenadeTwo.name}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatGrenadeTwo.explosionRadius"
                    type="text"
                    value="{{data.data.combatGrenadeTwo.explosionRadius}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatGrenadeTwo.damage"
                    type="text"
                    value="{{data.data.combatGrenadeTwo.damage}}"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputLong"
                    name="data.combatGrenadeThree.name"
                    type="text"
                    value="{{data.data.combatGrenadeThree.name}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatGrenadeThree.explosionRadius"
                    type="text"
                    value="{{data.data.combatGrenadeThree.explosionRadius}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatGrenadeThree.damage"
                    type="text"
                    value="{{data.data.combatGrenadeThree.damage}}"
                  />
                </td>
              </tr>
            </table>
            <table>
              <caption>Pancerze</caption>
              <tr>
                <th>{{localize "MIDGUARD.CombatName"}}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatCloseCombat"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatBalistic"
                  }}</th>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputLong"
                    name="data.combatArmorsOne.name"
                    type="text"
                    value="{{data.data.combatArmorsOne.name}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatArmorsOne.closeCombat"
                    type="text"
                    value="{{data.data.combatArmorsOne.closeCombat}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatArmorsOne.ballistic"
                    type="text"
                    value="{{data.data.combatArmorsOne.ballistic}}"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputLong"
                    name="data.combatArmorsTwo.name"
                    type="text"
                    value="{{data.data.combatArmorsTwo.name}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatArmorsTwo.closeCombat"
                    type="text"
                    value="{{data.data.combatArmorsTwo.closeCombat}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatArmorsTwo.ballistic"
                    type="text"
                    value="{{data.data.combatArmorsTwo.ballistic}}"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputLong"
                    name="data.combatArmorsThree.name"
                    type="text"
                    value="{{data.data.combatArmorsThree.name}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatArmorsThree.closeCombat"
                    type="text"
                    value="{{data.data.combatArmorsThree.closeCombat}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatArmorsThree.ballistic"
                    type="text"
                    value="{{data.data.combatArmorsThree.ballistic}}"
                  />
                </td>
              </tr>
            </table>
            <table>
              <caption>Tarcza</caption>
              <tr>
                <th>{{localize "MIDGUARD.CombatName"}}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatCloseCombatDefense"
                  }}</th>
                <th class="limitedwidth">{{localize
                    "MIDGUARD.CombatBalisticDefense"
                  }}</th>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputLong"
                    name="data.combatShieldOne.name"
                    type="text"
                    value="{{data.data.combatShieldOne.name}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatShieldOne.closeDef"
                    type="text"
                    value="{{data.data.combatShieldOne.closeDef}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatShieldOne.rangeDef"
                    type="text"
                    value="{{data.data.combatShieldOne.rangeDef}}"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputLong"
                    name="data.combatShieldTwo.name"
                    type="text"
                    value="{{data.data.combatShieldTwo.name}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatShieldTwo.closeDef"
                    type="text"
                    value="{{data.data.combatShieldTwo.closeDef}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatShieldTwo.rangeDef"
                    type="text"
                    value="{{data.data.combatShieldTwo.rangeDef}}"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    class="inputLong"
                    name="data.combatShieldThree.name"
                    type="text"
                    value="{{data.data.combatShieldThree.name}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatShieldThree.closeDef"
                    type="text"
                    value="{{data.data.combatShieldThree.closeDef}}"
                  />
                </td>
                <td>
                  <input
                    class="inputShort"
                    name="data.combatShieldThree.rangeDef"
                    type="text"
                    value="{{data.data.combatShieldThree.rangeDef}}"
                  />
                </td>
              </tr>
            </table>
          </div>
          <div style="clear:both;"></div>
        </div>
        <!-- Combat end -->
        <!-- Entropic Powers start -->
        <div
          class="tab entropicPowers"
          data-group="primary"
          data-tab="entropicPowers"
        >
          <div>Test Entropiczne</div>
        </div>
        <!-- Entropic Powers end -->
        <!-- Equipment start -->
        <div class="tab equipment" data-group="primary" data-tab="equipment">
          <div class="left">
            <label class="labelcontent">
              {{localize "MIDGUARD.equipment"}}
            </label>
            {{editor
              content=data.data.equipment
              target="data.equipment"
              button=true
              owner=owner
              editable=editable
            }}
          </div>
          <div style="clear:both"></div>
        </div>
        <!-- Equipment end -->
        <!-- Notes start -->
        <div class="tab notes" data-group="primary" data-tab="notes">
          <div class="left">
            <label class="labelcontent">
              {{localize "MIDGUARD.notes"}}
            </label>
            {{editor
              content=data.data.notes
              target="data.notes"
              button=true
              owner=owner
              editable=editable
            }}
          </div>
          <div class="right">
            <label class="labelcontent">
              {{localize "MIDGUARD.history"}}
            </label>
            {{editor
              content=data.data.history
              target="data.history"
              button=true
              owner=owner
              editable=editable
            }}
          </div>
          <div style="clear:both"></div>
        </div>
        <!-- Notes end -->
      </div>
    </section>

    <!-- content ends -->
  </div>
</form>